body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #444;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.bingo-board {
   --myWidth:10rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 50px;
  width: calc( (var(--myWidth)) * 5);
  /* height: calc( (var(--myWidth)) * 5); */
}

.bingo-cell {
  border: 1px solid #000;
  font-weight: bold;
  /* padding: 20px; */
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: var(--myWidth);
  height: var(--myWidth);
  box-sizing: border-box; /* Include padding and border in the total width and height */
}

.bingo-cell p {
  font-weight: bold;
}

.bingo-cell.unmarked {
  background-color: white;
}
.bingo-cell.marked::before{
  content:"";
  opacity:.5;
  background-image: url(/images/PLAYPARK.png);

}

.bingo-cell.marked {
}

.bingo-cell.won {
  background-color: blue;
}

.bingo-cell.freespace {
  background-color: #CFCFCF;
}
